---
import { getCollection } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import ScrollProgressIndicator from "@components/ScrollProgressIndicator.svelte";
import Tag from "@components/Tag.astro";
import Hr from "@components/Hr.astro";
import { getUniqueTagsOfTagStrings } from "@utils/tagHelper";
import TableOfContents from "@components/TableOfContents.svelte";
import Navigation from "@components/Navigation.astro";

export async function getStaticPaths() {
  const sections = await getCollection("section");

  return sections.map((section, i) => ({
    params: { slug: slugifyStr(section.slug) },
    props: {
      section,
      before: i > 0 ? sections[i - 1] : undefined,
      after: i < sections.length - 1 ? sections[i + 1] : undefined,
    },
  }));
}

const { slug } = Astro.params;

const { section, before, after } = Astro.props;
const { title, tags } = section.data;
const foundTags = tags ? getUniqueTagsOfTagStrings(tags) : [];
const { Content, headings } = await section.render();
---

<Layout title={`${title} | ${SITE.title}`} scrollSmooth>
  <ScrollProgressIndicator client:only="svelte" />
  <Main
    pageTitle={title}
    titleTransition={slugifyStr(title)}
    headingClass="text-3xl sm:text-4xl font-extrabold bg-gradient-to-br from-primary to-accent bg-clip-text text-transparent inline-block"
    topType="back"
  >
    <div
      class="flex flex-row rtl:flex-row-reverse mx-auto max-w-5xl items-stretch mt-4 mb-16"
    >
      <article id="article" class="prose max-w-5xl min-w-0">
        <Content />
      </article>
      {headings.length > 0 && <TableOfContents {headings} client:load />}
    </div>
    <Hr noPadding />
    <Navigation {before} {after} prefix="section" />
    <ul class="mt-5 mb-8">
      Related Tags: {foundTags.map(tag => <Tag tag={tag} />)}
    </ul>
  </Main>
  <Footer />
</Layout>

<script src="../../../scripts/attachCopyButtons.ts"></script>
