---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import BackButton from "../components/BackButton.astro";

interface StringTitleProp {
  pageTitle?: string;
  titleTransition?: string;
  pageDesc?: string;
  topType?: "crumb" | "back" | "none";
  mainClass?: string;
  headingClass?: string;
}

export type Props = StringTitleProp;

const { props } = Astro;
---

{
  !props.topType || props.topType === "crumb" ? (
    <Breadcrumbs />
  ) : (
    props.topType === "back" && <BackButton />
  )
}

<main id="main-content" class={props.mainClass}>
  {
    props.pageTitle && (
      <h1 class={props.headingClass} transition:name={props.titleTransition}>
        {props.pageTitle}
      </h1>
    )
  }
  {props.pageDesc && <p>{props.pageDesc}</p>}
  <slot />
</main>

<style>
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>
