---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime.svelte";
import useModDateTime from "@utils/useModDateTime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";
import { getUniqueTagsOfTags, type InputTag } from "../utils/tagHelper";
import Main from "./Main.astro";
import ScrollProgressIndicator from "@components/ScrollProgressIndicator.svelte";
import Hr from "../components/Hr.astro";
import TableOfContents from "../components/TableOfContents.svelte";
import Navigation from "../components/Navigation.astro";

export interface Props {
  post: CollectionEntry<"development">;
  before: CollectionEntry<"development"> | undefined;
  after: CollectionEntry<"development"> | undefined;
}

const { post, before, after } = Astro.props;

const {
  title,
  description,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
  authors,
} = post.data;

const { Content, headings } = await post.render();

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  author:
    authors && authors.length > 0
      ? authors[0].substring(0, 1).toUpperCase() + authors[0].substring(1)
      : SITE.author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  scrollSmooth: true,
};

const uniqueTags = getUniqueTagsOfTags(tags as InputTag[]);
---

<Layout {...layoutProps}>
  <ScrollProgressIndicator client:only="svelte" />

  <Main
    pageTitle={title}
    titleTransition={slugifyStr(title)}
    headingClass="text-2xl font-semibold text-skin-accent"
    topType="back"
  >
    <p class="font-mono italic mt-2 mb-4">{description}</p>
    {
      useModDateTime(pubDatetime, modDatetime) ? (
        <>
          <Datetime
            dateTime={pubDatetime}
            category="Originally Published"
            size="lg"
            className="my-2"
            italic={false}
          />
          <Datetime
            dateTime={modDatetime}
            category="Updated"
            size="lg"
            className="my-2"
            italic={false}
          />
        </>
      ) : (
        <Datetime
          dateTime={pubDatetime}
          size="lg"
          className="my-2"
          italic={false}
        />
      )
    }

    <div
      class="flex flex-row rtl:flex-row-reverse mx-auto mt-5 mb-5 max-w-5xl items-stretch"
    >
      <article id="article" role="article" class="prose max-w-5xl min-w-0">
        <Content />
      </article>
      {headings.length > 0 && <TableOfContents {headings} client:load />}
    </div>

    <Hr noPadding />
    <Navigation {before} {after} prefix="development" />

    <ul class="mt-5 mb-8">
      {uniqueTags.map(tag => <Tag tag={tag} />)}
    </ul>
  </Main>
  <Footer />
</Layout>

<style>
  main {
    @apply pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>

<script src="../scripts/attachCopyButtons.ts"></script>
