---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { slugifyStr } from "../utils/slugify";
import LayoutArea from "../components/LayoutArea.astro";
import LayoutComponent from "../components/LayoutComponent.astro";
import LinkButton from "../components/LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"development">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Development Posts | ${SITE.title}`}>
  <Header activeNav="developments" />
  <Main
    pageTitle="Development"
    pageDesc="Keep Up To Date with Progress at Astro Forge Technologies!"
  >
    <LayoutComponent layout={[1, 1]}>
      <LayoutArea>
        <div style="text-align: center">
          <LinkButton href="/tags">Sort by Tags</LinkButton>
        </div>
      </LayoutArea>
      <LayoutArea>
        <div style="text-align: center">
          <!--<LinkButton style="text-align: center" href="/authors">Sort by Authors</LinkButton> -->
          <LinkButton href="/authors" disabled={true}
            >Sort by Authors (WIP)</LinkButton
          >
        </div>
      </LayoutArea>
    </LayoutComponent>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/development/${slugifyStr(slug)}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/development${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/development/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
