---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import { type Tag } from "../utils/tagHelper";
import { slugifyStr } from "../utils/slugify";
import BackButton from "../components/BackButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"development">[];
  tag: Tag;
}

const { currentPage, totalPages, paginatedPosts, tag } = Astro.props;
---

<Layout title={`Tag: ${tag.tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <BackButton />
  <Main
    pageTitle={[`Tag:`, `${tag.tagName}`]}
    titleTransition={tag.tagSlug}
    pageDesc={`All the articles with the tag "${tag.tagName}".`}
    excludePathSpec={true}
  >
    <h1 slot="title" transition:name={tag.tagSlug}>{`Tag:${tag.tagName}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/development/${slugifyStr(slug)}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag.tagSlug}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/tags/${tag.tagSlug}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
